body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.main {
  position: relative;
  top: -400px;
}
.logo {
  position: absolute;
  z-index: 10;
}
@media (min-width: 600px) {
  .logo {
    left: 20px;
    width: 100px;
  }
  .top-bar-center h3 {
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #269dc9;
    pointer-events: none;
  }
}
@media (max-width: 600px) {
  .mobile-logo {
    position: absolute;
    right: 10px;
    height: 45px;
  }
  .mobile-title {
    width: 100%;
    position: absolute;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    color: #269dc9;
  }
}

.hero-image {
  background-image: url("../img/wasatchRunning.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
}

.hero-flipper {
  height: 300px;
  margin-bottom: 50px;
  background-color: white;
  border: 1px solid black;
  padding: 5px;
}

.hero-flipper-mobile {
  background-color:white;
  margin-bottom: 20px;
  display: inline-block;
}
.hero-flipper-mobile * {
  display: block;
}
.hero-flipper-mobile a {
  text-align: center;
}

.homepage-image {
  height: auto;
  width: 100%;
  overflow: hidden;
}
.card {
  height: 290px;
}

.race-info {
  font-size: 1.5em;
  margin-bottom: 15px;
}
.venue-image {
  max-width: 150px;
  display: block;
  margin: auto;
}
.venue-image-mobile {
  max-width: 50px;
  display: block;
  margin: auto;
}
.race-special {
  text-align: center;
  margin-top: 15px;
}
.sponsor h4 {
  text-align: center;
  margin-top: 15px;
}
.sponsor-image {
  max-width: 150px;
  display: block;
  margin: auto;
}
.sponsor {
  border-left: 1px solid grey;
}
.course-image {
  border: 1px solid grey;
}

.next-race {
  font-weight: bold;
}

.home-main, .sponsor-main, .race-main, .admin-main {
  background-color: white;
  padding: 15px;
}

.owl-buttons {
  display: none;
}
.owl-page span {
  background-color: #009BDB !important;

}

.logo-tiny {
  width: 50px;

}
.admin-venue-logo, .admin-sponsor-logo {
  width: 150px;
}
.sponsor-thumbnail {
  width: 150px;
  margin: auto;
}
.bottom-sponsor {
  margin: 20px;
}
.side-sponsor img {
  margin-bottom: 30px;
}
