<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Create/Edit Race</h4>
    <form>
      <div class="row">
        <div class="large-12 columns">
          <label>Race Name
            <input type="text" placeholder="(Name)" />
          </label>
        </div>
      </div>
      <div class="row">
        <div class="large-4 columns">
          <label>Date
            <input type="text" placeholder="(Date)" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Registration Time
            <input type="text" placeholder="(Image)" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Start Time
            <input type="text" placeholder="(Image)" />
          </label>
        </div>
        <div class="large-2 columns">
          <label>Cost
            <input type="text" placeholder="(Image)" />
          </label>
        </div>
        <div class="large-6 columns">
          <label>Race Special
            <input type="text" placeholder="(Image)" />
          </label>
        </div>
        <div class="large-4 columns">
          <label>Venue
            <input type="text" placeholder="(Image)" />
          </label>
        </div>
        <div class="large-8 columns">
          <hr/>
          <label>Course Description
            <textarea></textarea>
          </label>
        </div>
        <div class="large-4 columns">
          <hr />
          <label>Course Image
            <input type="file" placeholder="(Image)" />
          </label>
        </div>
      </div>
      <input type="submit" value="Submit" class="button"/>
    </form>
  </div>
</div>

