<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Races</h4>
    <a class="button" href="/admin/Race/0">New Race</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Venue</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        {{#each races }}
          <tr>
            <td>{{ name }}</td>
            <td class="date-slash">{{ date }}</td>
            <td>{{ venue.name }}</td>
            <td><a href="/admin/race/{{ id }}">Edit</a></td>
          </tr>
        {{/each}}
      </tbody>
    </table>

  </div>
</div>

