<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Races</h4>
    <a class="button" href="/admin/Race/0">New Race</a>
    <table>
      <thead>
        <tr>
          <th>Name</th>
          <th>Date</th>
          <th>Venue</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <tr> <td>First Race of the Season</td> <td>12/12/12</td> <td>Snowbird</td><td><a href="#">Edit</a></td> </tr>
      </tbody>
    </table>

  </div>
</div>

