<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Sponsors</h4>
    <a class="button" href="/admin/sponsor/0">New Sponsor</a>
    <table>
      <thead>
        <tr>
          <th>Sponsor</th>
          <th>Logo</th>
          <th>Link</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <tr> <td>Solomon</td> <td>image</td> <td><a href="google.com" _target="blank"></a></td><td><a href="#">Edit</a></td> </tr>
      </tbody>
    </table>

  </div>
</div>

