<div class="row admin-main">
  <div class="large-12 columns">
    <h4>Venues</h4>
    <a class="button" href="/admin/venue/0">New Venue</a>
    <table>
      <thead>
        <tr>
          <th>Venue</th>
          <th>Logo</th>
          <th>Link</th>
          <th>Directions Link</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <tr> <td>Snowbird</td> <td>image</td> <td><a href="google.com" _target="blank"></a></td><td><a href="google.com" _target="blank"</a></td>
          <td><a href="#">Edit</a></td> </tr>
      </tbody>
    </table>

  </div>
</div>

