<div class="row show-for-medium">
  <div class="large-11 large-centered columns">
    <div class="owl-carousel hero-flipper"> 
      <div class="next-race-card item">
        <div classs="row">
          <div class="large-12 columns">
            <h3>Next Race: Wednesday Oct 3rd</h3>
          </div>
          <div class="large-6 medium-8 columns race-info">
            <span>Location: Alta</span>
            <span>Registration: 6:30</span>
            <span>Race Start: 6:30</span>
            <span>Cost: $20</span>
            <span>Distance: 5K and 10K courses</span>
            <span>Course: Description</span>
          </div>
          <div class="large-6 medium-4 columns">
            <img class="venue-image" src="http://fm100.com/wp-content/uploads/2015/06/snowbird-logo.jpg" alt="Venue" />
            <h4 class="race-special">Salomon Shoe Demo Tonight!</h4>
          </div>
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="homepage-image" src="/img/wasatchLake.jpg" alt="Running!" />
        </div>
      </div>
      <div class="item">
        <div class="card">
          <img class="homepage-image" src="/img/wasatchValley.jpg" alt="Running!" />
        </div>
      </div>
    </div>
  </div>
</div>
<div class="row show-for-small-only">
  <div class="large-11 large-centered columns">
    <div class="owl-carousel hero-flipper-mobile"> 
      <div class="next-race-card hero-flipper-item-mobile">
        <div class="large-12 columns">
            <h3>Next Race: Wednesday Oct 3rd</h3>
          </div>
        <div class="small-6 columns">
            <span>Location: Alta</span>
            <span>Registration: 6:30</span>
            <span>Race Start: 6:30</span>
        </div>
        <div class="small-6 columns">
            <img class="venue-image-mobile" src="http://fm100.com/wp-content/uploads/2015/06/snowbird-logo.jpg" alt="Venue" />
            <a>More Info</a>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="large-12 columns home-main">
  <div class="large-8 columns" id="anchor-stop">
    <h3>Welcome to the Wasatch Trail Series!</h3>
    <p>
      But I must explain to you how all this mistaken idea of denouncing pleasure and praising pain was born and I will give you a complete account of the system, and expound the actual teachings of the great explorer of the truth, the master-builder of human happiness. No one rejects, dislikes, or avoids pleasure itself, because it is pleasure, but because those who do not know how to pursue pleasure rationally encounter consequences that are extremely painful. Nor again is there anyone who loves or pursues or desires to obtain pain of itself, because it is pain, but because occasionally circumstances occur in which toil and pain can procure him some great pleasure. To take a trivial example, which of us ever undertakes laborious physical exercise, except to obtain some advantage from it? But who has any right to find fault with a man who chooses to enjoy a pleasure that has no annoying consequences, or one who avoids a pain that produces no resultant pleasure?
    </p>
    <hr />
    <a name="Races"></a>
    <table class="races-table" href="#Races">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
      </tbody>
    </table>
  </div>
  <div class="columns large-3 right">
      <img class="thumbnail" src="http://fm100.com/wp-content/uploads/2015/06/snowbird-logo.jpg">
  </div>
  </div>
</div>

</div>
