<div class="row sponsor-main">
  <div class="medium-8 small-12 columns">
    {{{ registrationInfo }}}
    <img src="img/Tues-Evening-Races.jpg" alt="Glass" class="show-for-small-only" />
    <a name="Pass"></a>
    <hr/>
    
  </div>
  <div class="medium-4 small-12 columns">
    <img src="img/Tues-Evening-Races.jpg" alt="Glass" class="hide-for-small-only" />
  </div>

</div>
