<div class="row sponsor-main">
  <div class="large-12 columns">
    <h4>Results</h4>

    <table class="races-table" href="#Races">
      <thead>
        <tr>
          <th>Date</th>
          <th>Time</th>
          <th>Location</th>
          <th></th>
        </th>
      </thead>
      <tbody>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
        <tr> <td>Wednesday 12rd</td> <td>7:56</td> <td>Snowbird</td> <td>Info</td> </tr>
      </tbody>
    </table>

    <span>Looking for last years results? <a href="#">2015 Results</a></span>
  </div>
</div>

