<div class="row sponsor-main">
  <div class="large-8 columns">
    <h4>Series Scoring</h4>
    <p>
      {{ seriesInfo }}
    </p>
  </div>
  <div class="columns large-3 right">
    <hr/>
    {{#each sponsors}}
    <a href="{{ url }}" target="_blank" class="side-sponsor">
      <img class="sponsor-thumbnail" src="/uploads/{{ logoUrl }}"/>
    </a>
    {{/each}}
  </div>

</div>
