<div class="row sponsor-main">
  <div class="medium-8 small-12 columns">
    {{{ seriesInfo }}}
  </div>
  <div class="medium-3 small-12 columns right-sponsors">
    <h3>Sponsors</h3>
    <hr/>
    {{#nsponsors sponsors 3}}
    <a href="{{ url }}" target="_blank" class="side-sponsor">
      <img class="sponsor-thumbnail" src="/uploads/{{ logoUrl }}"/>
    </a>
    {{/nsponsors}}
  </div>
</div>
