<div class="row sponsor-main">
  <div class="large-8 columns">
    {{{ seriesInfo }}}
  </div>
  <div class="large-3 columns right-sponsors">
    <h3>Sponsors</h3>
    <hr/>
    {{#each sponsors}}
    <a href="{{ url }}" target="_blank" class="side-sponsor">
      <img class="sponsor-thumbnail" src="/uploads/{{ logoUrl }}"/>
    </a>
    {{/each}}
  </div>
</div>
