<div class="row sponsor-main">
  <div class="medium-8 small-12 columns">
    {{#if finalResults}}
      <h3>Overall Series Results: <a href="{{ finalResults }}" target="_blank">Click Here</a></h3>
    {{/if}}
    {{#if results}}
      <h4>Current Point Standings: <a href="/uploads/{{ results }}" target="_blank">Click Here</a></h3>
    {{/if}}
    {{{ seriesInfo }}}
  </div>
  <div class="medium-4 small-12 columns">
    <img src="img/Tues-Evening-Races.jpg" alt="Glass" class="hide-for-small-only" />
  </div>
</div>
