<div class="row sponsor-main">
  <div class="large-12 columns">
    <h4>Thanks to all our sponsors!</h4>
    <hr />
    <div class="small-up-2 medium-up-3 large-up-4">
      <div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
      <div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>
<div class="column">
        <a target="_blank">
          <img class="thumbnail" src="https://placeholdit.imgix.net/~text?txtsize=33&txt=350%C3%97150&w=350&h=150">
        </a>
        <h5>test</h5>
      </div>

    </div>
  </div>
</div>
